multiple_pages/Shreyas\ Kalvankar\ CV.pdf
multiple_pages(concise)/Shreyas\ Kalvankar\ Resume.pdf
one_page/Shreyas\ Kalvankar\ Resume.pdf
cover_letter/
**/*/*.log
**/*/*.synctex.gz
**/*/*.out
**/*/*.toc
**/*/*.aux
**/*/*.bbl
**/*/*.blg
**/*/*.toc
**/*/*.lof
**/*.lot
**/*/*.fdb_latexmk
**/*/*.fls
**/*/*.bcf
**/*/*.xml
